@import '../1.configuration/_variables.css';
@import './_icons.css';


/* .container {
  display: flex;
  align-items: center;
  flex-flow: column;
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);

  & h1 {
    font-size: 1.5rem;
    margin: var(--space-2) 0;
    font-weight: bold;
  }

} */

.mobile-navigation {
  background-color: var(--bg-color-mobile);
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 0 var(--space-1);

}

.mobile-navigation img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  object-fit: cover;
}

.navigation__user {
  display: flex;
  align-items: center;
  flex-flow: row;
  gap: var(--gap-2);
  padding: var(--space-2) 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 15%;

}

.navigation__user>div {
  display: flex;
  flex-flow: column;
  gap: var(--gap-1);


  & h2 {
    font-weight: bold;
  }
}


/* NAVIGATION-MENU -> Donde están todos los items de navegación incluido el NAV del final */

.navigation__menu {
  position: relative;
  display: flex;
  flex-flow: column;
  height: 85%;
}



/* MAIN MENU */
.navigation__main-menu {
  display: flex;
  flex-flow: column;
  padding: var(--space-2) 0;
  gap: var(--gap-1);
  font-weight: bold;
  height: 100%;

}

/* Main menu -> ITEM */

.main-menu__item {
  padding: 0.4rem;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;

}

.main-menu__item:hover {
  background-color: var(--hover-color);
}

.main-menu__item>div {
  display: flex;
  flex-flow: row;
  gap: var(--gap-1);

  justify-content: space-between;
  height: 100%;
}

.item__content {
  gap: var(--gap-1);
  display: flex;
  flex-flow: row;
  align-items: center;
  cursor: pointer;

  & p {
    font-weight: bold;

  }
}

.main-menu__arrow {
  width: 10px;
  transition: all 0.2s ease;
}


/* PREPARANDO ANIMACIÓN DE DESPLIEGUE */
.content__text {
  position: absolute;
  top: 0;
  left: 500px;
  /* para mover el contenido a la derecha */
  background-color: white;
  height: 100%;
  width: 100%;
  transition: left 0.2s ease;
}


.content__text>div {
  width: 100%;
}


.content__back {
  width: max-content;
  right: 0;
  top: 25px;
  cursor: pointer;
  color: blue;
  font-size: 1rem;
  text-align: end;
  position: absolute;

}

.content__back svg {
  width: 40px;
  height: 40px;
}

.content__back svg:hover {
  color: gray;
}



.active-content {
  display: block;
  left: 0;
}




/* PERSONAL DATA */
.personal-data {
  width: 100%;
  height: 100%;
  padding: var(--space-1);
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  position: relative;
}

.personal-data h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.data__personal {
  border: 1px solid var(--bg-color);
  border-radius: var(--space-2);
  padding: var(--space-2);
  display: flex;
  flex-flow: column;
  gap: var(--gap-1);
  margin-top: var(--space-1);
}

.data__profesional {
  border: 1px solid var(--bg-color);
  border-radius: var(--space-2);
  padding: var(--space-2);
  display: flex;
  flex-flow: column;
  gap: var(--gap-1);
  margin-top: var(--space-1);

  & h2 {
    font-size: 1.5rem;
    font-weight: bold;
  }
}


.data__skills {
  border: 1px solid var(--bg-color);
  border-radius: var(--space-2);
  padding: var(--space-2);
  display: flex;
  flex-flow: column;
  gap: var(--gap-1);
  margin-top: var(--space-1);

  & h2 {
    font-size: 1.5rem;
    font-weight: bold;
  }
}