:root {

  --size: 95px;

  /* COLORS */
  --bg: #ebd3f9;
  --primary: #30174b;
  --secondary: #FEFFFE;
  --button: #7a05b0;
  --text: #30174b;
  --text-light: #aeaeae;


  /* SPACING */
  --space: 1rem;
  --space-sm: 0.5rem;
  --space-md: 1.2rem;
  --space-lg: 2rem;
  --space-xl: 2.5rem;


  /* FONT SIZE */
  --font-xs: 0.6rem;
  --font-sm: 0.8rem;
  --font-md: 1rem;
  --font-lg: 1.5rem;
  --font-xl: 2rem;



  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--bg);
}


.card {
  width: 100%;
  max-width: 330px;
  height: 100%;
  background-color: var(--secondary);
  border-radius: 40px;
  padding: var(--space) var(--space-lg);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 0;
  overflow: hidden;
  gap: var(--space-md);
  box-shadow: 2px 15px 40px 0 #30174b2d;

}

.card__image-content {
  margin: 0 0 5.2rem 0;
}



.card .svg {
  width: 500px;
  position: absolute;
  fill: var(--primary);
  z-index: -1;
  top: -50px;
  left: -90px;
}

.card .svg2 {
  width: 500px;
  position: absolute;
  fill: var(--button);
  z-index: -2;
  top: -40px;
  left: -80px;
}




.card__image {
  width: var(--size);
  height: var(--size);
  border-radius: 100%;
  object-fit: cover;
  object-position: top;

}

.card__data-user {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  margin-bottom: var(--space-lg);
}


.card__name {
  text-align: center;

}

.card__name-title {
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 700;
  color: var(--text);

  letter-spacing: 2px;
}

.card__name-nick {
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--text-light);

}



.card__social {

  display: flex;
  justify-content: center;
  align-items: center;
}




.card__social a {
  display: flex;
  justify-content: center;
  align-items: center;

}

.card__social a:hover {

  transition: 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
  scale: 1.1;
}

.card__social-item svg {
  padding: 0.5rem;
  width: 40px;
  height: 40px;
}

.card__description {
  color: var(--text);
  font-size: 0.8rem;
  text-align: center;
  font-weight: 600;
  line-height: 1rem;
}

.card__description span{
  color: var(--button);
  font-weight: 700;
}



.card__buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--space-md);
}


.card__buttons button, .card__buttons a {
  list-style: none;
  text-decoration: none;

  border: none;
  padding: var(--space-sm) var(--space-md);
  border-radius: 500px;
  font-size: var(--font-sm);
  padding: 0.7rem 2.6rem;
  border: 1px solid var(--text);
  background-color: var(--secondary);
  cursor: pointer;
  transition: 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card__buttons button:hover, .card__buttons a:hover {
  opacity: 0.6;
  transition: 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: 1px 1px 0px 1px var(--primary);
}



.bg-pink {
  border: none !important;
  background-color: var(--button) !important;
  color: var(--secondary);
}